// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background-color: #FFFFFF;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid gray;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

input[type="submit"].btn-block {
  margin: 15px 0;
}

.container#profile-area {
  padding-bottom: 85px;
  background-color: #EEEEEE;
}

#header-area-1 {
  background-color: #00A0E9;
  height: 140px;
}
#header-area-2 {
  background-color: #FFF;
  height: 40px;
  border-bottom: 2px solid gray;
}

#profile {
  h3 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}

#over-image {
  max-height: 100px;
  width: auto;
  border: 2px solid white;
}

#tweet-area {
  background-color: #FFF;
  margin: 2px 2px 2px 2px;
  p {
    text-align: left;
  }
}

#tweet-icon-image {
  max-height: 50px;
  width: auto;
  border: 2px solid white;
}